category_encoders==2.6.3
kneed==0.8.5
matplotlib==3.8.0
matplotlib==3.8.4
missingno==0.5.2
numpy==1.26.4
pandas==2.2.2
scikit_learn==1.4.2
scipy==1.13.0
seaborn==0.13.2
selenium==4.20.0
skrebate==0.62
statsmodels==0.14.1
statsmodels==0.14.2
webdriver_manager==4.0.1
